<!--
  Componente de tarjeta de noticia.
  Muestra la imagen, título, descripción y la fuente de la noticia.
-->
<ion-item
  button="true"
  lines="none"
  detail="false"
  class="news-item"
  (click)="openModal()"
>
  <div class="card-image" slot="start">
    <img [src]="noticia.image" [alt]="noticia.title" />
  </div>

  <div class="card-content">
    <h2 class="card-title">{{ noticia.title }}</h2>
    <p class="card-desc">{{ noticia.description }}</p>
    <p *ngIf="noticia.source" class="card-source">
      {{ noticia.source }}
    </p>
  </div>
</ion-item>