ion-item {
  --padding-start: 0;
}
ion-card .pr {
  --background: #bebebe;
  --color: #ee1809;
}
ion-card  {
  --background: #534b4b;
  --color: #f52f0cea;
}

ion-card-title {
  --color: #f80000;
}

ion-card-subtitle {
  --color: #f80000;
}

.cardCont ion-card {
  display: grid;
  grid-template-columns: 20% 80%;
 // grid-template-rows: auto 1fr; /* filas reales */
  align-items: stretch;
  overflow: hidden;
}


.cardCont ion-card > img {
  grid-column: 1;
  grid-row: 1 / -1;   
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.cardCont ion-card > ion-card-header {
  grid-column: 2;
}
.cardCont ion-card > ion-card-content {
  grid-column: 2;
}
@media (max-width: 768px) {
  .cardCont ion-card {
    grid-template-columns: 100%;
  }

  .cardCont ion-card > img {
    grid-column: 1;
    grid-row: 1;
    height: 180px;
  }

  .cardCont ion-card > ion-card-header,
  .cardCont ion-card > ion-card-content {
    grid-column: 1;
  }
}